.sidebar-wrapper{
    padding-left: 20px;
    padding-top: 20px;
    
}
.sidebar-wrapper p{
    
 font-size: 15px;
 color: white;
 font-weight: 600;
 padding: 7px 12px;
 cursor: pointer;
 display: flex;
 align-items: center;
 margin-top: 10px;
}
.sidebar-wrapper p:hover{
    background-color: rgba(158, 151, 151,.3);
    width: fit-content;
}